{% extends "base.html" %}

{% block content %}

<h1>Добавить пользователя</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('add_user', project_id=project_id)  }}" method="post">

    <p>{{  form.hidden_tag() }}</p>

    <p>Выберите из списка</p>
    {{ form.user }}<br>
<p></p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}